@mixin breakpoint($point) {
  @if $point == small {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $point == medium {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $point == large {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

@mixin ellipsis($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

@mixin layout {
  @include breakpoint(small) {
    padding: 16px;
  }
  display: block;
  padding: 32px;
  max-width: 1440px;
  margin: auto;
}
